<?xml version="1.0" encoding="UTF-8"?>
<suite name="suiteName" parallel="methods" thread-count="1"> <!-- group-by-instances="true" preserve-order="true" -->
    <parameter name="envID" value="remote"/>
    <parameter name="platformName" value="Android"/>
    <test name="testName">
        <classes name="className">
            <class name="ravireddy07.com.github.testcases.debug"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="ravireddy07.com.github.listeners.TestListener"/>
    </listeners>
</suite>