<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c:%L - %m%n"/>
        </Console>
        <Routing name="MyRoutingAppender">
            <Routes pattern="logs">
                <Route>
                    <RollingFile
                            name="appender-logs"
                            fileName="logs/console-logs.log"
                            filePattern="logs/$${date:yyyy-MM-dd}/console-logs-%d{yyyy-MM-dd}-%i.log">
                        <PatternLayout>
                            <Pattern>[logs %-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n</Pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy/>
                            <SizeBasedTriggeringPolicy size="10MB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="5"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Logger name="ravireddy07.com.github" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="MyRoutingAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
